body {
    background-image: url('movies.png');
    background-color: rgba(255, 255, 255, 0.92);
    background-blend-mode: lighten;
}
button {
    width: 15%;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid steelblue;
}
h2 {
    color: steelblue;
}