<!DOCTYPE html>
<html lang=\"en\" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=\"UTF-8\">
    <title>Movies - First</title>
    <style>
        body {
            background-image: url('../static/movies.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgba(255, 255, 255, 0.95);
            background-blend-mode: lighten;
        }
    </style>
</head>
<body>
<p>
    <button onclick="location.href='../'">Back to Main Menu</button>
</p>
<h3>First movie</h3>
<p>The title of the first movie in the catalogue is "<span th:text="${firstTitle}"></span>".</p>
</body>
</html>